<form action="/send" method="post">
    <p>title</p>
    <input type="text" name="title">
    <p>Content</p>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button type="submit"> register post </button>
</form>